<!-- Navbar Start -->
<nav class="footer navbar-inverse" style="margin-top:10px;" role="banner">
    <div class="container">

        <div class="" style="margin:15px;">
          <p style="color:#337ab7;" >@2020 Bu site Djano ile yazılmıştır. Backend ve Frontend kodlaması Ömer Ali Çaylar tarafından yapılmıştır.Bu sitede bulunan seriler fan yapımı olduğundan telif haklarını ihlal eden bir seri bulunursa omeralicaylar5@gmail.com adresine mesaj atınız.</p>
          <p style="color:#337ab7;">Not:Bu site beta aşamasındadır. Herhangi bir hata veya öneri için omeralicaylar5@gmail.com adresine mesaj atınız.</p>
        </div>



    </div>
</nav>
